.column-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2rem;
    text-align: center;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    /* margin-top: 50px; */
  }
  
  .column-wrapper:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  }
  
  .column-heading {
    margin-bottom: 1.5rem;
    font-weight: bold;
    color: #2c2c2c;
  }
  
  .column-text {
    color: #4d4d4d;
  }
  
  .link {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Inherits the color from the parent element */
  }

  .container{
    margin-bottom: 10px;
    margin-top: 50px;
  }

  .arrow {
    display: block; 
    font-size: 35px; 
    text-align: center; 
    margin-top: 0px; 
    margin-bottom: 50px;
  }
  